/* reset */
*{margin:0;padding:0;}
a{text-decoration:none;color:inherit;display: inline-block;width: 100%;height: 100%;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
ul,ol{list-style:none;}
em,i,address{font-style:normal;font-weight:normal;}
b,strong,dt{font-weight:normal;}
img{max-width:100%;}
table{border-collapse:collapse;}

/*--------------색상--------------------
#b7c18e;
 --------------------------------------*/
/*-----------------------------폰트---------------------------
 font-family: 'establishnaneunyahaeginsaOTF';
 font-family: 'GmarketSansBold';
 font-family: 'GmarketSansMedium';
 font-family: 'GmarketSansLight';
--------------------------------------------------------------*/
@media (max-width:468px){
/* common */
html{
    font-size:15px;
    font-family: 'GmarketSansLight';
  }
  /* layout */
  .wrap{
    width:100%;
    margin:0 auto;
    overflow: hidden;
  }
  main{
    margin:54px 0;
    background: #7c7b67;
  }
  h2{
    display:none;
  }
  /* header */
  header{
    display: flex;
    background: #b7c18e;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 1000;
  }
  .menu{
    margin-left: 2%;
    color: #fff;
    position:relative;
  }
  .menu > span{
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
  }
  .menu > span i{
    position: absolute;
    font-size: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
  }
  .menu > .innerframe{
    background: #b7c18e;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 3.7rem;
    left: 0;
    transform: translateX(-200%);
    transition: all 0.4s ease 0s;
    z-index: 100;
  }
  header.on .innerframe{
    transform:translate(0);
  }
  .innerframe > ul{
    width: 95%;
    border-radius: 15px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    color: #a3a394;
    height: 80vh;
  }
  .innerframe ul > li{
    padding-top: 6px;
    margin-left: 12px;
    font-size: 0.7rem;
    font-weight:bold;
  }
  .innerframe ul > li:first-of-type{
    padding-top:10px;
  }
  .innerframe ul > li:last-of-type{
    padding-bottom:10px;
  }
  .innerframe ul > li li{
    list-style: none;
    font-weight:normal;
  }
  .innerframe ul > li li:hover{
    color:#b7c18e;
  }
  /* logo */
  .logo{
    padding-right: 10%;
  }
  .logo img{
    width: 100%;
    object-fit: cover;
  }
  /* login */
  .login{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
  }
  .login > a{
    display: inline-block;
    width: 100%;
  }
  .login svg{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  /* cTop */
  .cTop{
    display:flex;
    position:relative;
    padding: 1rem 0;
  }
  .cTop > li:nth-of-type(1){
    width:100%;
    text-align: center;
    color: #f3efe4;
    font-family: 'GmarketSansMedium';
  }
  .cTop.on > li:nth-of-type(2){
    border-radius: 10px 10px 0 0;
  }
/* filter */
.filter{
    width: 15%;
    font-size: 0.9rem;
    text-align: center;
    background: #ddd9d4;
    border-radius: 10px;
    color: #9e9c7d;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1% 0;
    z-index: 999;
  }
  .filter ul{
    width: 100%;
    display:none;
    font-size: 0.9rem;
    position: absolute;
    top: 24px;
    left: 0;
    background: #ddd9d4;
  }
  .filter.on ul{
    display:block;
    border-radius: 0 0 10px 10px;
  }
  .filter > li{
    margin-top:5px;
    line-height:170%;
  }
  .filter ul li{
    padding: 0.4rem 0;
  }
  .filter ul li:hover{
    color:#c2cb80;
    background:#fff;
  }
  .filter ul li:last-of-type{
    border-radius:0 0 10px 10px;
  }
  .filter ul li:last-of-type:hover{
    color:#c2cb80;
    background:#fff;
  }
  .filter ul li i{
    font-size:0;
  }
  .filter ul li.on i{
    font-size:0.5rem;
  }
  /* search */
  .search{
    text-align:center;
    padding: 5px;
    width:100%;
  }
  .search > i{
    color:#f3efe4;
  }
  .search input{
    text-align: center;
    color: #7c7c67;
    border: 1px solid #7c7c67;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.8rem;
    margin-right: 5%;
  }
  .contents{
    padding:1rem;
  }
  ol{
    background: #f3efe4;
  }
  .contents ol li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    border-bottom: 1px solid rgb(124 124 103 / 70%);
  }
  .contents ol li:last-of-type{
    border-bottom:none;
  }
  .contents ol li .fa-bookmark{
    position: absolute;
    right: 2%;
    top: 13%;
    color: #c2cb80;
    text-shadow: 1px 1px 1px #7c7c67;
    pointer-events: auto;
    cursor:pointer;
  }
  .contents ol li .fa-bookmark:hover{
    color:#7c7c67;
  }
  .contents figure{
    width: 40%;
    margin: 10px;
   }
   .contents figure > img{
     width:100%;
     height:100%;
     object-fit: cover;
     pointer-events: auto;
     cursor:pointer;
   }
  .pdetail{
    width: 60%;
    color: #7c7c67;
    display: flex;
    flex-wrap: wrap;
    pointer-events: auto;
    cursor: pointer;
    align-items: flex-start;
    padding: 1rem 0;
  }
  .pdetail dt{
    width:40%;
    font-size:1rem;
    margin: 0.5rem 0;
    font-family: 'GmarketSansMedium';
  }
  .pdetail dd{
    width: 50%;
    margin: 0.5rem 0;
    font-size: 0.8rem;
    word-break: keep-all;
  }
  .pdetail dd > p{
    display:inline-block;
  }
  footer{
    width: 100vw;
    background: #b7c18e;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position:fixed;
    bottom:0;
    left:0;
    z-index:1000;
  }
  footer p{
    text-align: center;
    color: #fff;
  }
}